body {
  background-color: #fff5fa;
  border: 10px solid #ffb6d9;
  border-radius: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
  background-image: url("hellokitty.jpg");
}
button {
  padding: 20px 100px;
  background-image: url("laco.jpg");
  background-size: cover;
}